* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --accent: #fdd130;
  --bg: #0b1d26;
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.2);
  --letra-logo: impact;
  --ancho-p: 30rem;
  --lenght-number-section: 12rem;
}
h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h2 {
  font-size: 2rem;
  margin: 0;
}
h3 {
  color: var(--accent);
  text-align: left;
}
p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  margin: 0;
  width: var(--ancho-p);
  height: 100%;
}
a {
  color: var(--bg);
  font-size: 1rem;
  font-weight: 600;
}
ul {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: var(--bg);
  color: var(--white);
  display: grid;
  font-family: poppins;
  font-weight: 600;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  margin: auto;
  width: 1200px;
}
header {
  background-image: url(../assets/MG.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--bg);
  grid-column: 1/2;
  grid-row: 1/2;
  height: 50%;
  padding: 30px 40px;
  width: 102%;
}
.header-nav {
  display: flex;
  height: initial;
  justify-content: space-between;
  width: 100%;
}
.header-logo {
  font-family: var(--letra-logo);
  font-size: 2rem;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--white);
}
.header-nav-bar li {
  display: inline-flex;
  font-size: 0.9rem;
  justify-content: space-between;
  margin-left: 15px;
}
.header-nav-bar li a:hover {
  color: var(--accent);
}
.header-nav2 {
  display: grid;
  grid-template-columns: 27% 1fr;
  justify-content: space-between;
  margin: 10px 0;
}
.header-nav2 img {
  display: flex;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 30px;
  margin-bottom: 5px;
  width: 30px;
}
.header-portada-text {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-left: 10%;
}
.header-nav2-bar {
  position: fixed;
  font-size: 0.9rem;
  text-align: right;
  margin-right: 10px;
  padding: 10px;
}
.header-nav2-bar:hover {
  background-color: var(--white-transparent);
  border-radius: 6px;
}
.header-nav2-bar a {
  animation-duration: 4s;
  animation-name: menuScroll;
}
@keyframes menuScroll {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.header-nav2-bar a:hover {
  color: var(--accent);
  font-weight: 700;
}
.header-nav2-bar li {
  border-right: 2px solid var(--accent);
  color: var(--bg);
  margin-bottom: 5px;
  padding-right: 3px;
}
.header-nav2-bar li:focus-visible {
  border-right: 3px solid var(--accent);
}
.header-nav2-bar-fixed {
  position: relative;
  top: -20%;
  left: 97%;
  width: 100px;
  height: 100%;
}
main {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  grid-row-gap: 30px;
}
.main-section1 {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-section1-number {
  color: var(--white-transparent);
  font-size: var(--lenght-number-section);
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: flex-end;
}
.main-section1-text {
  align-self: center;
  border-top: var(--accent) 3px solid;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-self: self-end;
  text-align: right;
  margin-right: 30px;
}
.main-section1-text a {
  color: var(--accent);
}
#img-1 {
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: left;
  width: min-content;
  height: 100%;
}
.main-section2 {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
}
.main-section2-number {
  color: var(--white-transparent);
  font-size: var(--lenght-number-section);
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: flex-start;
}
.main-section2-text {
  align-self: center;
  border-top: var(--accent) 3px solid;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: self-start;
  text-align: left;
  margin-left: 30px;
}
.main-section2-text a {
  color: var(--accent);
}
#img-2 {
  grid-column: 1/2;
  grid-row: 2/3;
  height: 100%;
  justify-self: right;
  width: min-content;
}
.main-section3 {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/4;
}
.main-section3-number {
  color: var(--white-transparent);
  font-size: var(--lenght-number-section);
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: flex-end;
}
.main-section3-text {
  align-self: center;
  border-top: var(--accent) 3px solid;
  grid-column: 1/2;
  grid-row: 3/4;
  justify-self: self-end;
  text-align: right;
  margin-right: 30px;
}
.main-section3-text a {
  color: var(--accent);
}
#img-3 {
  grid-column: 2/3;
  grid-row: 3/4;
  height: 100%;
  justify-self: left;
  width: min-content;
}
footer {
  grid-column: 1/2;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 60% 1fr 1fr;
  padding-bottom: 40px;
  padding-left: 30px;
}
.footer-logo {
  grid-column: 1/2;
  grid-row: 1/2;
}
.footer-logo a {
  font-family: var(--letra-logo);
  font-size: 2rem;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--white);
}
.footer-servicio {
  grid-column: 2/3;
  grid-row: 1/2;
}
.footer-acerca {
  grid-column: 3/4;
  grid-row: 1/2;
}
.footer-servicio h3,
.footer-acerca h3 {
  color: var(--accent);
}
